custom-checkbox {
    display: inline-block;
}

.checkbox-container {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.checkbox-container .tile {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.checkbox-container .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

@keyframes bounceY {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.animate {
    animation: bounceY 0.25s ease forwards;
}